<h1>Patterns</h1>

<ul>
  <% @patterns.each do |pattern| %>
  <li>
    <a href="/patterns/<%= pattern.id %>">
      <%= pattern.name %>
    </a>
  </li>
  <% end %>
</ul>
<%= link_to 'New Pattern', new_pattern_path %>
