<p><%= link_to 'New Pattern', new_pattern_path %></p>
<div class="heading">
<h1>Patterns</h1>
</div>
<div class="index_container">

  <% @patterns.each do |pattern| %>
  <div>
    <a href="/patterns/<%= pattern.id %>">
      <img class="index_img" src="<%= pattern.photo_url %>"/>
      <h4><%= pattern.name %></h4>
    </a>
      </div>
  <% end %>

</div>
